{% extends "digitalFarm/base.html" %}
{% load static %}

{% block content %}


<div>
    <h1>Motivation/Konzept:​</h1>
    <p>Um Transparenz in der Landwirtschaft zu schaffen - für Händler und Landwirte.
        Die wenigsten Landwirte sind im Netz aufzufinden. Daher sind Händler davon abhängig wen und wie viele sie in ihrem Umkreis kennen, die Ihnen helfen den geeigneten Landwirt zu finden, der die Produkte in der benötigten Menge zum gewünschten Preis anbietet.
        Die Landwirte haben das Problem, dass sie darauf
        angewiesen sind, von einem Händler kontaktiert zu
        werden, denn sie selber haben meist keine Zeit oder
        Kenntnisse oder gar die Mittel ihr eigenes Marketing im
        Internet zu machen. Zudem werden ihnen sehr oft nur
        unfaire Preise geboten, jedoch sind sie dazu gezwungen
        sich auf den Preis einzulassen. Ansonsten besteht die
        Gefahr, dass das der letzte Händler sein könnte der sie
        für einen Deal kontaktiert. Es würde zu keinem Verkauf führen, die Ernte geht schlecht und sie verschulden sich.
    </p>
    <p>
        Dafür muss die Landwirtschaft digitalisiert werden. Der Landwirt registriert sich und stellt seine Ernte ins Netz.
        Aus dieser Datenbank können dann Händler suchen und nach Preis, Entfernung und/oder Qualität sich für den besten Anbieter entscheiden.

    </p>
</div>
{% endblock content %}
